 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
 }

 body {
    background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
    color: #ffffff;
    line-height: 1.6;
 }

 .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

.hero {
    font-size: 3rem;
}

#typeing-text {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #00e5ff;
}

section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

.project .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    transition: transform 0.3s;
}

.project:hover {
    transform: translateY(-5px);
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.skills li {
    background: rgba(255, 255, 255, 0.15);
    padding: 10px 15px;
    border-radius: 20px;
}

footer{
    text-align: center;
    padding: 20px;
    opacity: 0.7;
}