 body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header, main, footer {
    margin: 20px;
}

header {
    text-align: center;
}

section {
    margin-bottom: 30px;
}
h1{
    font-size:2.2rem;
    margin-bottom: 10px;
}
h2{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
p, li {
    font-size: 1rem;

}
section{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
}
footer{
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}
body{
     max-width: 900px;
     margin: 0 auto;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width:600px){
    body{
        padding: 600px;
    }
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.2rem;
    }
}